---
import "../styles/global.css";
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.jsx";

const { title = "Default Title" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Your Company</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar client:load />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
